<!DOCTYPE html>
<html>
<head>
  <title> CrazyFac3 </title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300|Open+Sans" rel="stylesheet">
</head>
<body style='margin:0;padding:0'>
  <div style='background-color: #2f333a; height: 100vh; width: 100%; margin:0; padding:0;'>
<div style="font-family: 'Lato';padding-top: 1.6em; color: white;font-weight: normal; text-align:center;height:auto; font-size: 4em"> Welcome to Project CrazyFac3</div>

<img src="http://up419.siz.co.il/up1/xytmzywzrmlh.png" border="0" alt="crazyface" style="margin: auto; display: table; margin-top: 8em; height: 15em; width: 15em"/>
<div style="color: #7e838c; font-family: 'Open Sans';font-style: italic;text-align: center;font-size:2em;margin-top: 3em">"Texting is a solution for a problem humanity already solved"
  </div>
</body>
</html>
